{% extends 'home.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">1
<head>
    <meta charset="UTF-8">


</head>
<body>

{% block content %}
    <title>input</title>
     <div class="empty"></div>
 <div class="lol">
     <form  action="input_attendance" method="post">
     {% csrf_token %}

         <label>Input Your Present</label><br>
         <input type="text" name="present"><br>
         <label>ID</label><br>
         <input type="text" name="employee_id"><br>
         <label>Take Leave</label><br>
         <input type="text" name="leave_application"><br>
         <label>Date</label><br>
         <input type="date" name="open_date"><br>
         <input type="submit"><br>
    </form>
</div>

{% endblock content %}
</body>
</html>