<!DOCTYPE html>
<html lang="en">
<head>
    <title>Meetings | Office Mangement System</title>
    <link rel="shortcut icon" type="image" href="Icon.png">
    <link rel="stylesheet" type="text/css" href="meetings.css">
</head>


<body>
        <img src="Logo_final.png" alt="Office logo" width="200" height="150">
        <span style="float: right;">
            <a href="login.html">
                <button class="logout" style="font-size: 20px; border-radius: 8px; border-style: none; cursor: pointer;" >log out</button>
            </a>
        </span>
        <h1 style="font-size: 35px; color: rgb(153, 218, 212);"><b>NSU Office</b></h1>

    <div class="Navi_bar">
        <ul>
            <li><a href="home.html">Home</a></li>
            <li><a href="notice_board.html">Notice Board</a></li>
            <li><a class="active" href="meetings.html">Meetings</a></li>
            <li><a href="#attendance">Attendance</a></li>
            <li><a href="#salary">Salary</a></li>
            <li><a href="#project_history">Project History & Outcomes</a></li>
            <li><a href="#employee_ofthe_month">Employee of the Month</a></li>
            <li><a href="#client&Project_details">Client & Project Details</a></li>
          </ul>
    </div>


    <table>
        <tr>
            <th>Meetings</th>
        </tr>
        {% for m in meetings %}
        <tr>
            <td> {{m}} </td>
        {% endfor %}
    </table>



    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
    <div class="footer">
    <p class="low" style="text-align:left; ">
        <hr>
        <a href="help_info.html" style="text-decoration: none; color: lightgoldenrodyellow; font-size: 20px;">About Us</a>
        <span style="float:right;">
            <a href="help_info.html" style="text-decoration: none; color: lightgoldenrodyellow; font-size: 20px;">Contact Us</a>
        </span>
    </p>


    <p class="low" style="text-align:left; font-size: 20px;">
        <a href="help_info.html" style="text-decoration: none; color: lightgoldenrodyellow;">Help</a>
        <span style="float:right; color: lightgoldenrodyellow;">
            Address
        </span>
    </p>


    <p class="low" style="text-align: right; font-size: 18px; color: lightgoldenrodyellow;">
        North South University.<br>
        SAC Building, 9th Floor.
    </p>
    </div>
    
</body>


</html>