<!DOCTYPE html>
<html lang="en">


<head>
    <title>Reset Password | Office Management System</title>
    <link rel="shortcut icon" type="image" href="D:\Soft\program files\VScode\Codes\Project 327\Office Management System\Icon.png">
    <link rel="stylesheet" type="text/css" href="reset_password.css">
</head>


<body>
    <center><img src="Logo_final.png" alt="Office logo" width="200" height="150"></center>
    <h1 style="font-size: 50px; text-align: center;"><b>NSU Office</b></h1>

    <form name="submit" action="home.html" style="font-size: 35px;">
        
        <label for="id">ID</label><br>
        <input class="idtake" style="font-size: 30px;" type="text" id="id" name="id"><br>
        <label for="pwd">Given Password</label><br>
        <input class="pwdtakeold" style="font-size: 30px;" type="password" id="pwd" name="pwd"><br>
        <label for="pwd">New Password</label><br>
        <input class="pwdtake1" style="font-size: 30px;" type="password" id="pwd" name="pwd"><br>
        <label for="pwd">Confirm Password</label><br>
        <input class="pwdtake2" style="font-size: 30px;" type="password" id="pwd" name="pwd"><br>                
        <input class="submitbtn" style="font-size: 25px;" type="submit" name="submit" value="Submit">       
    </form><br><br><br><br><br><br>

    <hr>
    <p style="text-align:left; font-size: 20px;">
        <a href="help_info.html" style="text-decoration: none; color: lightgoldenrodyellow;">About Us</a>
        <span style="float:right;">
            <a href="help_info.html" style="text-decoration: none; color: lightgoldenrodyellow;">Contact Us</a>
        </span>
    </p>


    <p style="text-align:left; font-size: 20px;">
        <a href="help_info.html" style="text-decoration: none; color: lightgoldenrodyellow;">Help</a>
        <span style="float:right;">
            Address
        </span>
    </p>


    <p style="text-align: right; font-size: 18px;">
        North South University.<br>
        SAC Building, 9th Floor.
    </p>

</body>
</html>